<!DOCTYPE html>
<html>
<head>
    <title>Chart</title>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/chart.css">
</head>
<body>
<svg width="960" height="500"></svg>
<div>
    <div>
        <div>
            <p>Prevention cost ($): </p>
            <span id="prevention"></span>
        </div>
        <div>
            <p>Failure cost ($): </p>
            <span id="failure"></span>
        </div>
        <div>
            <p>Total cost ($): </p>
            <span id="total"></span>
        </div>
        <div>
            <h4>Confusion Matrix</h4>
            <p><i>N</i> = 10000</p>
            <table>
                <tbody>
                  <tr><th></th><th>Predicted Failure</th><th>Predicted Nominal</th><th></th></tr>
                  <tr><th>Actual Failure</th><td id="TP">TP</td><td id="FN">FN</td><td>Total</td></tr>
                  <tr><th>Actual Nominal</th><td id="FP">FP</td><td id="TN">TN</td><td>Total</td></tr>
                  <tr><td></td><td>2</td><td>3</td><td>Total</td></tr>
                </tbody>
            </table>
        </div>
        <dir>
            <p>Sensitivity/Recall (TPR) = TP / TP + FN</p>
            <p>Specificity (TNR) = TN / TN + FP</p>
            <p>Precision = TP / TP + FP</p>
            <p>Accuracy = TP + FN / TP + FP + TN + FN</p>
            <p>FNR = FN / TP + FN = 1 - TPR</p>
            <p>FPR = FP / FP + TN = 1 - TNR</p>
        </dir>
    </div>
</div>
</body>
<script src="../static/js/line_chart.js"></script>
<script
src="https://code.jquery.com/jquery-3.3.1.min.js"
integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
crossorigin="anonymous"></script>
</html>