{% extends 'base.html' %}

{% block styling %}
  <link href="{{ url_for('static', filename='css/chart.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/profit_curve.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}My Dashboard{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-7">
    <div class="card mb-3">
      <div class="card-header">
        <i class="fa fa-area-chart"></i>ROC Curve</div>
      <div class="card-body">
        <svg id="myAreaChart" width="800" height="350"></svg>
      </div>
    </div>
  </div>
  <div class="col-lg-5">
    <div class="card mb-3">
      <div class="card-header">
        <i class="fa fa-bar-chart"></i>Model Characteristics</div>
      <div class="card-body">
          <div class="col-sm-12 text-center my-auto">
            <div class="h5 mb-0 text-primary" id="auc">Gradient Boosting</div>
            <div class="small text-muted">Model Type</div>
            <hr>
            <div class="h5 mb-0 text-primary" id="auc">{{ auc }}</div>
            <div class="small text-muted">AUC</div>
            <hr>
            <div class="h5 mb-0 text-primary" id="precision">{{ precision }}</div>
            <div class="small text-muted">Precision</div>
            <hr>
            <div class="h5 mb-0 text-primary" id="recall">{{ recall }}</div>
            <div class="small text-muted">Recall</div>
            <hr>
            <div class="h5 mb-0 text-primary" id="f1">{{ f1 }}</div>
            <div class="small text-muted">F1</div>
          </div>
       </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-8">
    <!-- Example Bar Chart Card-->
    <div class="card mb-3">
      <div class="card-header">
        <i class="fa fa-line-chart"></i> Profit Curve</div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-8 my-auto">
            <svg id="profit_curve" width="800" height="350"></svg>
          </div>
          <div class="col-sm-4 text-center my-auto">
            <div class="h5 mb-0 text-primary" id="threshold">{{ threshold }}</div>
            <div class="small text-muted">Decision Threshold</div>
            <hr>
            <div class="h5 mb-0 text-warning" id="cost">-${{ cost }}</div>
            <div class="small text-muted">Simulated Total Cost</div>
            <hr>
            <div class="h5 mb-0 text-success" id="revenue">${{ revenue }}</div>
            <div class="small text-muted">Estimated Revenue per Transformer</div>
            <hr>
            <div class="h5 mb-0 text-danger" id="maintenance">-${{ maintenance }}</div>
            <div class="small text-muted">Estimated Maintenance Cost per Transformer</div>
            <hr>
            <div class="h5 mb-0 text-danger" id="repair">-${{ repair }}</div>
            <div class="small text-muted">Estimated Repair Cost per Transformer</div>
          </div>
        </div>
      </div>
      <div class="card-footer small text-muted" id="time">Updated {{ time }}</div>
    </div>
    <!-- /Card Columns-->
  </div>
  <div class="col-lg-4">
    <!-- Example Pie Chart Card-->
    <div class="card mb-3">
      <div class="card-header">
        <i class="fa fa-bullseye"></i> Precision vs. Recall</div>
      <div class="card-body">
        <svg id="precision_recall" width="300" height="250"></svg>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
  <script src="{{url_for('static', filename='js/index_profit_curve.js')}}"></script>
  <script src="{{url_for('static', filename='js/line_chart.js')}}"></script>
  <script src="{{url_for('static', filename='js/precision_recall.js')}}"></script>
{% endblock %}