{% extends "base.html" %}

{% block title %}Cost-Benefit Analysis{% endblock %}

{% block content %}
<svg width="850" height="400"></svg>
<p>Revenue: </p>
<input id="revenue" />
<p>Maintenance costs:</p>
<input id="maintenance" />
<p>Repair costs: </p>
<input id="repair" />
<button type="button" class="btn btn-success navbar-right" id="calculate">Recalculate</button>
<span id="example"></span>
{% endblock %}

{% block scripts %}
<script src="{{url_for('static', filename='js/profit_curve.js')}}"></script>
{% endblock %}
