{% extends "base.html" %}

{% block styling %}
  <link href="{{ url_for('static', filename='css/profit_curve.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}Cost-Benefit Analysis{% endblock %}

{% block content %}
<p>The threshold is what the model uses as a benchmark for classification.
The model will make a prediction depending on whether the prediction probability is less than or greater than
this threshold. The best way to determine the best value is cost-benefit analysis.
Below, the optimal threshold is computed by analyzing revenue, maintenance, and repair costs.</p>
<p>You will then have the option of saving this threshold. You can change this threshold as
revenue and costs change over time.</p>
<svg id="profit_curve" width="850" height="400"></svg>
<p>Revenue: </p>
<input id="revenue" />
<p>Maintenance costs:</p>
<input id="maintenance" />
<p>Repair costs: </p>
<input id="repair" />
<button type="button" class="btn btn-success navbar-right" id="calculate">Recalculate</button>
<span id="example"></span>
<div class="container assess-box">
    <p id="assessment"></p>
</div>
{% endblock %}

{% block scripts %}
<script src="{{url_for('static', filename='js/profit_curve.js')}}"></script>
{% endblock %}
