{% extends "base.html" %}

{% block title %}Unit Analysis{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-md-8 mt-2"><h6>Vegetation Management Plan?</h6></div>
      <div class="col-md-3 mb-1">
      <div class="btn-group btn-group-toggle pull-right" data-toggle="buttons">
        <label class="btn btn-secondary active" for="VegMgmtYes">
          <input type="radio" name="VegMgmt" id="VegMgmtYes" value=1 checked>Yes     
        </label>
        <label class="btn btn-secondary" for="VegMgmtNo">
          <input type="radio" name="VegMgmt" id="VegMgmtNo" value=0>No
        </label>
        </div>
      </div>
    </div>
      <hr>
    <div class="row">
    <div class="col-md-8 mt-2"><h6>Has preventive maintenance ever been scheduled late on this transformer?</h6></div>
    <div class="col-md-3 mb-1">
        <div class="btn-group btn-group-toggle pull-right" data-toggle="buttons">
          <label class="btn btn-secondary active" for="PMLateYes">Yes
           <input type="radio" name="PMLate" id="PMLateYes" value=1 checked>
          </label>
          <label class="btn btn-secondary" for="PMLateNo">No
            <input type="radio" name="PMLate" id="PMLateNo" value=0>
          </label>
        </div>
      </div>
    </div>
      <hr>
    <div class="row">
    <div class="col-md-8 mt-2"><h6>Documented water exposure?</h6></div>
    <div class="col-md-3 mb-1">
        <div class="btn-group btn-group-toggle pull-right" data-toggle="buttons">
          <label class="btn btn-secondary active" for="WaterExposureYes">Yes
           <input type="radio" name="WaterExposure" id="WaterExposureYes" value=1 checked>
          </label>
          <label class="btn btn-secondary" for="WaterExposureNo">No
            <input type="radio" name="WaterExposure" id="WaterExposureNo" value=0>
          </label>
        </div>
      </div>
    </div>
      <hr>
    <div class="row">
    <div class="col-md-8 mt-2"><h6>Will the transformer have more than one connection?</h6></div>
    <div class="col-md-3 mb-1">
        <div class="btn-group btn-group-toggle pull-right" data-toggle="buttons">
          <label class="btn btn-secondary active" for="MultipleConnectsYes">Yes
           <input type="radio" name="MultipleConnects" id="MultipleConnectsYes" value=1 checked>
          </label>
          <label class="btn btn-secondary" for="MultipleConnectsNo">No
            <input type="radio" name="MultipleConnects" id="MultipleConnectsNo" value=0>
          </label>
        </div>
      </div>
    </div>
      <hr>
    <div class="row">
    <div class="col-md-8 mt-2"><h6>Will the transformer be exposed to severe weather?</h6>
</div>
    <div class="col-md-3 mb-1">
        <div class="btn-group btn-group-toggle pull-right" data-toggle="buttons">
          <label class="btn btn-secondary active" for="StormYes">Yes
           <input type="radio" name="Storm" id="StormYes" value=1 checked>
          </label>
          <label class="btn btn-secondary" for="StormNo">No
            <input type="radio" name="Storm" id="StormNo" value=0>
          </label>
        </div>
      </div>
    </div>
      <hr>
    <div class="row">
    <div class="col-md-9 mt-2"><label for="validationTooltip05"><h6>Age</h6></label></div>
      <div class="col-md-2 mb-1">
        <input class="form-control" type="number" id="Age" placeholder="Age">
        <div class="invalid-tooltip">
          Please provide a valid age.
        </div>
      </div>
      <div class="col-md-1 mb-1"></div>
    </div>
      <hr>
    <div class="row">
    <div class="col-md-5 col-xs-8 mt-2"><h6>Manufacturer</h6></div>
    <div class="col-md-6 col-xs-3 mb-1">
        <div class="btn-group btn-group-toggle pull-right" data-toggle="buttons">
          <label class="btn btn-secondary active" for="Manufacturer_GE">General Electric (GE)
           <input type="radio" name=Manufacturer" id="Manufacturer_GE" value="GE" checked>
          </label>
          <label class="btn btn-secondary" for="Manufacturer_Other">Other
            <input type="radio" name=Manufacturer" id="Manufacturer_Other" value="Other">
          </label>
          <label class="btn btn-secondary" for="Manufacturer_Schneider Electric">Schneider Electric
            <input type="radio" name=Manufacturer" id="Manufacturer_Schneider Electric" value="Schneider Electric">
          </label>
          <label class="btn btn-secondary" for="Manufacturer_Siemens">Siemens
            <input type="radio" name=Manufacturer" id="Manufacturer_Siemens" value="Siemens">
          </label>
        </div>
      </div>
    </div>
      <hr>
    <div class="row">
    <div class="col-md-8 col-xs-8 mt-2"><h6>Number of rebuilds/overhauls (if applicable) </h6></div>
    <div class="col-md-3 col-xs-3  mb-1">
        <div class="btn-group btn-group-toggle pull-right" data-toggle="buttons">
          <label class="btn btn-secondary active" for="Repairs_Original">Original build
           <input type="radio" name=Manufacturer" id="Repairs_Original" value="Original" checked>
          </label>
          <label class="btn btn-secondary" for="Repairs_Rebuild+1">1
            <input type="radio" name=Manufacturer" id="Repairs_Rebuild+1" value="+1">
          </label>
          <label class="btn btn-secondary" for="Repairs_Rebuild+2">2
            <input type="radio" name=Manufacturer" id="Repairs_Rebuild+2" value="+2">
          </label>
          <label class="btn btn-secondary" for="Repairs_Rebuild+3">3
            <input type="radio" name=Manufacturer" id="Repairs_Rebuild+3" value="+3">
          </label>
        </div>
      </div>
    </div>
      <hr>
    <div class="row">
    <div class="col-md-5 mt-2"><h6>Transformer Type </h6></div>
    <div class="col-md-6 mb-1">
        <div class="btn-group btn-group-toggle pull-right" data-toggle="buttons">
          <label class="btn btn-secondary active" for="AssetType_1-Phase Pole Transformer">1 Phase Pole
           <input type="radio" name=TransformerType" id="AssetType_1-Phase Pole Transformer" value="1Phse" checked>
          </label>
          <label class="btn btn-secondary" for="AssetType_3-Phase Transformer">3 Phase
            <input type="radio" name=TransformerType" id="AssetType_3-Phase Transformer" value="3Phase">
          </label>
          <label class="btn btn-secondary" for="AssetType_DF-series Transformer">Padmount
            <input type="radio" name=TransformerType" id="AssetType_DF-series Transformer" value="Padmount">
          </label>
          <label class="btn btn-secondary" for="AssetType_Padmount Transformer">DF-series
            <input type="radio" name=TransformerType" id="AssetType_Padmount Transformer" value="DF-series">
          </label>
          <label class="btn btn-secondary" for="AssetType_Voltage Transformer">Other
            <input type="radio" name=TransformerType" id="AssetType_Voltage Transformer" value="Other">
          </label>
        </div>
      </div>
    </div>
      <hr>
  <div class="row">
    <div class="col-md-12 mb-1 text-center">
      <button class="btn btn-primary" id="send">Submit</button>
    </div>
  </div>
</div>
<div class="container results">
  <hr>
  <div class="row">
    <div class="col-lg-2">
      <!-- Example Pie Chart Card-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-pie-chart"></i> Metrics</div>
        <div class="card-body text-center">
            <div class="h5 mb-0"><span id="probability"></span></div>
            <div class="small text-muted">Probability</div>
            <hr>
            <div class="h5 mb-0 text-primary"><span id="threshold"></span></div>
            <div class="small text-muted">Threshold</div>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <h6>Assessment</h6>
    <p><span id="assessment"></span></p>  
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{url_for('static', filename='js/new_transformer.js')}}"></script>
{% endblock %}