/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;
  width: 100%;
}

#green {
    list-style: square url('../images/small_green_box.png');
}

#grey {
    list-style: square url('../images/small_grey_box.png');
}