.axis path,
.axis line {
  fill: none;
  stroke: #D4D8DA;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}
.line {
  fill: none;
  stroke: red;
  stroke-width: 2px;
}

.horiz_line {
    stroke: black;
}

.vert_line {
    stroke: black;
}

.max_thresh {
    font-family: Arial;
    font-size: 12px;
}